#root{
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  margin: 15px 15px 10px 15px;
}
.flex-container {
  display: flex;
  flex-direction: column-reverse;
  height: calc(100vh - 55px);
  overflow: auto;
}
.flex-container > div {
    margin: 10px;
    padding: 5px;
    font-size: 15px; 
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.797);
    word-wrap: break-word;
    box-shadow: 2px 4px #797878; 
}

.flex-item-received {
  background-color: rgb(128, 231, 243);
  max-width: 70%;
  width: fit-content;
}
.flex-item-sent {
  background-color: rgba(255, 0, 162, 0.555);
  max-width: 70%;
  align-self: flex-end;
}
.input-send {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-top: 3px solid grey;
   
}
.rounded-border-shadow {
  border: 2px solid rgba(2, 89, 140, 0.656);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 4px #797878;
}
.button-send {
  background-color: rgb(46, 185, 185);
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.797);
  width: 20%;
}
.input-message {
  color:rgb(5, 9, 9);
  margin-left: 10px;
  overflow: auto;
  width: 70%;
}

